#homepic-section {
	width: 100%;
	top: 70px;
	position: relative;
}

#buy-section {
	width: 100%;
	position: relative;
	background-color: #3e3f3a;
	color: white;
	top:70px;
}

#buy-form {
	background-color: white;
	color: black;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;
}

#buy-price {
	background-color: white;
	color: black;
	padding: 10px 10px 10px 10px;
	border-radius: 5px;	
}

#view-section {
	width: 100%;
	position: relative;
	background-color: white;
	color: #3e3f3a;
	top:70px;
}

#footer {
	margin-top:70px;
	color: white;
	background-color: black;
	height: 50px;
}